@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

html,
body {
  height: 100dvh;
  overflow: hidden;
}

@keyframes drift {
  from {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  to {
    transform: translateY(-28px) translateX(12px) scale(1.05);
  }
}
